.all{
    width: 1500px;
    height: 3600px;
    margin: 0 auto;
}
.start{
    width: 100%;
    height: 80px;
   color: rgb(0, 0, 0);
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.stri{
    display: flex ;
    gap: 30px;
}
.stri a{
    text-decoration: none;
    color: gray;
}
.exp{
    width: 1500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.exptxt{
    width: 650px;
    height: 485px;
}
.exptxt h1{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 121%;
    letter-spacing: 0.01em;
    color: #4a4a4a;
}
.exptxt p{
  --font-family: "Titillium Web", sans-serif;
  --second-family: "Sailec-Bold", sans-serif;
  width: 590px;
}
.res{
    width: 1500px;
    height: 600px;
    display: flex;
    align-items: center;
    gap: 250px;
}

.restxt h1{
    width: 320px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 121%;
    letter-spacing: 0.01em;
    color: #4a4a4a;
}
.restxt p{
    width: 480px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #434a54;
}
.restxt a{
    text-decoration: none;      
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #1d6ff3;
}
.learn{
    width: 1500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.learntxt h1{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 121%;
    letter-spacing: 0.01em;
    color: #4a4a4a;
}
.learntxt p{
    width: 500px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #434a54;
}
.learntxt a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #1d6ff3;
    text-decoration: none;
}
.blogscard{
    width: 1080px;
    height: 816px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
}
.cardstxt{
    width: 280px;
    height: 214px;
}
.cards {
    width: 320px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden; /* чтобы картинка не вылезала */
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.cards img {
    width: 100%;
    height: auto;
    display: block;
}
.cardstxt {
    padding: 20px;
}

.cardstxt h2 {
    margin: 0 0 12px;
    font-size: 20px;
}

.cardstxt p {
    margin: 0;
    color: #555;
    line-height: 1.5;
}
.blogs h1{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 121%;
    letter-spacing: 0.01em;
    color: #4a4a4a;
}
.words{
    margin-top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}
.strtlearn{
    height: 180px;
    background-color: #f1e8e860;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}
.subscribe-input{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 242%;
    letter-spacing: 0.01em;
    color: #979797;
}
.subscribe-button
{
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0 4px 4px 0;
    width: 121px;
    height: 42px;
    background: #1d6ff3;
    color: #fff;
}