
.menu button{
    padding: 10px;
    margin: 10px;
}
.register{
    width: 171;
height: 40;
top: 20px;
left: 1006px;
opacity: 1;
border-radius: 50px;
gap: 10px;
padding-top: 10px;
padding-right: 30px;
padding-bottom: 10px;
padding-left: 30px;
color: green;
}
.login{
width: 113;
height: 40;
top: 20px;
left: 1207px;
opacity: 1;
border-radius: 50px;
gap: 10px;
padding-top: 10px;
padding-right: 30px;
padding-bottom: 10px;
padding-left: 30px;
color: rgb(255, 255, 255);
background-color: green;
}
.menu {
   display: flex;
    justify-content:center;
    align-items: center; 
    width: 1320;
    height: 80;
    top: 30px;
    left: 300px;
    opacity: 1;
    gap: 220px;
}
.help{
    display: flex;
    align-items: center;
    gap: 40px;
}
a {
    color: black;
    text-decoration: none;
}
main{
    display: flex;
    justify-content: space-between;
}
.work{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 420px;
}
.dva{
    color: green;
}
.buttons{
    width: 500px;
    display: flex;
    flex-wrap:wrap;
    max-width: 490px;
    gap: 30px;
    margin-top: 50px;
}
.but{
    border: 1px solid #f2f0fe;
border-radius: 50px;
padding: 10px 20px;
}
.cat{
border: 1px solid #fba457;
border-radius: 50px;
padding: 10px 20px;
color: #fba457;
}
.search{
    border-radius: 50px;
    width: 532px;
    height: 60px;
    background: #f2f0fe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 10px;
}
.find{
    border: 3px solid #f2f0fe;
    border-radius: 50px;
    width: 154px;
    height: 60px;
    background-color: #fba457;
    color: #f2f0fe;
}
.ser{
    background: #f2f0fe;
    border: none;
    font-size: large;
}
.actualwork{
    height: 650px;
    width: 1320px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
}
.card{
    width: 400px;
    height: 270px;
}
.ima{
    height: 30px;
    width: 30px;
}
.cart{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    width: 250px;
}
.card button{
    width: 380px;
    height: 41px;
    border-radius: 40px;
    border-color: green;
    color: green;

}
.card button:hover{
    border-radius: 40px;
    border-color: green;
    background-color: green;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.card a{
    width: 400px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f0fe;
    color: green;
    border-radius: 15px;
}
.mari{
    width:150px;
    height:150px;
}
.top{
    width: 1320px;
    height: 570px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1320px;
    gap: 15px;
    margin-left: 25px;
}
.star{
    width: 350px;
    height: 250px;
    border: solid 1px #f2f0fe;
    border-radius: 35px;
    padding: 10px;
}
.ti{
    display: flex;
    justify-content: space-between;
}
.stari{
  background-color: #f2f0fe;
  width: 370px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}
.stari a{
    color: green;
}
.star button{
    width: 280px;
    height: 41px;
    border-radius: 40px;
    border-color: green;
    color: green;
    margin-top: 40px;
    margin-left: 25px;
}
.star button:hover{
    border-radius: 40px;
    border-color: green;
    background-color: green;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.solveaproblem{
    width: 1300px;
    height: 300px;

}
.steps__items{
    width: 1200px;
    height: 200px;
    display: flex;
    gap: 10px;
    margin-top:5px ;
}
.business{
    background-image: url("Group 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 735px;
}
.carti{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: normal;
  justify-content: left;
  color: aliceblue;
  margin-left: 20px;
}
.cartis{
display: flex;
align-items: center;
color: black;
background-color: rgb(236, 253, 253);
border-radius: 20px;
gap: 20px;
padding-left: 20px;
height: 90px;
width: 535px;
}
.go{
    width: 225px;
    height: 70px;
    border-radius: 30px;
    background-color: rgb(109, 79, 216);
    color: #f2f0fe;
}
.end{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.copyri{
    display: flex;
    justify-content: center;
}
.all{
    width: 1920px;
    margin: 0 auto;
}